<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
      <div class="row">
        <div class="col-sm-3">
          <i class="material-icons searchIcon">search</i><input class="form-control search" placeholder="Find">
        </div>
        <div class="col-sm-7">
          <div class="dates">{{date | date:'hh:mm, EEEE, MMM d, y'}}</div>
        </div>
        <div class="col-sm-2 notification">
          <button style="background: none;border:none;"><i class="material-icons">notifications_active</i></button>
          <button style="background: none;border:none; margin-left:15%"><i
              class="material-icons">account_circle</i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row bodies">
    <div class="col-sm-1">
      <mat-sidenav-container position="start" class="sidenav">
        <mat-sidenav-content>
          <button class="mats" style="border-bottom:1px solid #d9d9d9;height:1.5cm" disabled></button><br>
          <button class="mat"><i class="material-icons" autofocus>home</i></button><br>
          <button class="mat"><i class="material-icons">file_copy</i></button><br>
          <button class="mat"><i style="color:#46B1EF" class="material-icons">layers</i></button><br>
          <button class="mat"><i class="material-icons">group</i></button><br>
          <button class="mat"><i class="material-icons">question_answer</i></button><br>
          <button class="mat"><i class="material-icons">email</i></button><br>
          <button class="mat"><i class="material-icons">show_chart</i></button><br>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
    <div class="col-sm-11">
      <div class="row">
        <div class="col-sm-12">
          <h3 style="margin-left: -3%;">Your Expenses</h3>
          <div class="row" style="margin-left: -4%;">
            <div class="col-sm-3">
              <mat-card>
                <h4>₹ 6,000</h4>
                <p>10 Bills Received Total</p>
                <i style="margin-left:80%; color:#46B1EF; font-size: 48px; margin-top:-8%"
                  class="material-icons">receipt</i>
                <a href="#">See Breakup</a>
              </mat-card>
            </div>
            <div class="col-sm-3">
              <mat-card>
                <h4>₹ 2,566</h4>
                <p>8 Bills Approved</p>
                <i style="margin-left:80%; color:green; font-size: 48px; margin-top:-8%"
                  class="material-icons">insert_chart</i>
                <a href="#">View Bills</a>
              </mat-card>
            </div>
            <div class="col-sm-3">
              <mat-card>
                <h4>₹ 2,696</h4>
                <p>3 Bills Pending</p>
                <i style="margin-left:80%; color:orange; font-size: 48px; margin-top:-8%"
                  class="material-icons">departure_board</i>
                <a href="#">View Bills</a>
              </mat-card>
            </div>
            <div class="col-sm-3">
              <mat-card>
                <h4>₹ 1,650</h4>
                <p>2 Bills Were Failed</p>
                <i style="margin-left:80%; color:red; font-size: 48px; margin-top:-8%"
                  class="material-icons">pie_chart</i>
                <a href="#">View Bills</a>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
      <div style="margin-top:-1%" class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <mat-button-toggle-group class="toggle">
            <mat-button-toggle style="border-radius:25px 0px 0px 25px; background-color: #46B1EF; color: white"
              class="toggleButton">All Bills</mat-button-toggle>
            <mat-button-toggle class="toggleButton">Pending Bills</mat-button-toggle>
            <mat-button-toggle style="border-radius:0px 25px 25px 0px" class="toggleButton">Bill Report
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="col-sm-3 adButton">
          <button class="addButton" (click)="addBill()"><i style="color:#46B1EF; font-weight:bold"
              class="material-icons add">add</i>Add New</button>
        </div>
      </div>
      <div class="row table1">
        <div class="col-sm-12">
          <table class="table">
            <thead>
              <tr>
                <th style="width: 2%;text-align: center"></th>
                <th style="width: 28%;text-align: left">Bill Name</th>
                <th style="width: 10%;text-align: center">Paid By</th>
                <th style="width: 10%;text-align: center">Date of Bill</th>
                <th style="width: 20%;text-align: center">Date of Submission</th>
                <th style="width: 5%;text-align: center">Amount(₹)</th>
                <th style="width: 15%;text-align: center">Verified Status</th>
                <th style="width: 5%;text-align: center">Status</th>
                <th style="width: 5%;text-align: center"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width: 2%;text-align: center">
                  <mat-radio-group>
                    <mat-radio-button></mat-radio-button>
                  </mat-radio-group>
                </td>
                <td style="width: 28%;text-align: left">Team Lunch at Starbucks</td>
                <td style="width: 10%;text-align: center">Cash</td>
                <td style="width: 10%;text-align: center">10 Oct 2018</td>
                <td style="width: 20%;text-align: center">10 Oct 2018</td>
                <td style="width: 5%;text-align: center">3390.47</td>
                <td style="width: 15%;text-align: center"><i style="margin-top:15px; color: #46B1EF"
                    class="material-icons">flag</i></td>
                <td style="width: 5%;text-align: center">Complete</td>
                <td style="width: 5%;text-align: center"><i class="material-icons more">more_horiz</i></td>
              </tr>
              <tr>
                <td style="width: 2%;text-align: center">
                  <mat-radio-group>
                    <mat-radio-button [checked]="checked" [value]="checked"></mat-radio-button>
                  </mat-radio-group>
                </td>
                <td style="width: 28%;text-align: left">Team Lunch at Starbucks</td>
                <td style="width: 10%;text-align: center">Debit Card</td>
                <td style="width: 10%;text-align: center">10 Oct 2018</td>
                <td style="width: 20%;text-align: center">10 Oct 2018</td>
                <td style="width: 5%;text-align: center">3390.47</td>
                <td style="width: 15%;text-align: center"><i style="margin-top:15px; color: orange"
                    class="material-icons">flag</i></td>
                <td style="width: 5%;text-align: center">Pending</td>
                <td style="width: 5%;text-align: center"><i class="material-icons more">more_horiz</i></td>
              </tr>
              <tr>
                <td style="width: 2%;text-align: center">
                  <mat-radio-group>
                    <mat-radio-button [checked]="checked" [value]="checked"></mat-radio-button>
                  </mat-radio-group>
                </td>
                <td style="width: 28%;text-align: left">Team Lunch at Starbucks</td>
                <td style="width: 10%;text-align: center">Cash</td>
                <td style="width: 10%;text-align: center">10 Oct 2018</td>
                <td style="width: 20%;text-align: center">10 Oct 2018</td>
                <td style="width: 5%;text-align: center">3390.47</td>
                <td style="width: 15%;text-align: center"><i style="margin-top:15px; color: green"
                    class="material-icons">flag</i></td>
                <td style="width: 5%;text-align: center">Complete</td>
                <td style="width: 5%;text-align: center"><i class="material-icons more">more_horiz</i></td>
              </tr>
              <tr>
                <td style="width: 2%;text-align: center">
                  <mat-radio-group>
                    <mat-radio-button [checked]="checked" [value]="checked"></mat-radio-button>
                  </mat-radio-group>
                </td>
                <td style="width: 28%;text-align: left">Cloud Space Storage</td>
                <td style="width: 10%;text-align: center">Credit Card</td>
                <td style="width: 10%;text-align: center">10 Oct 2018</td>
                <td style="width: 20%;text-align: center">08 Oct 2018</td>
                <td style="width: 5%;text-align: center">3390.47</td>
                <td style="width: 15%;text-align: center"><i style="margin-top:15px; color: red"
                    class="material-icons">flag</i></td>
                <td style="width: 5%;text-align: center">Failed</td>
                <td style="width: 5%;text-align: center"><i class="material-icons more">more_horiz</i></td>
              </tr>
              <tr>
                <td style="width: 2%;text-align: center">
                  <mat-radio-group>
                    <mat-radio-button [checked]="checked" [value]="checked"></mat-radio-button>
                  </mat-radio-group>
                </td>
                <td style="width: 28%;text-align: left">Team Lunch at Starbucks</td>
                <td style="width: 10%;text-align: center">Cash</td>
                <td style="width: 10%;text-align: center">10 Oct 2018</td>
                <td style="width: 20%;text-align: center">10 Oct 2018</td>
                <td style="width: 5%;text-align: center">3390.47</td>
                <td style="width: 15%;text-align: center"><i style="margin-top:15px; color: #46B1EF"
                    class="material-icons">flag</i></td>
                <td style="width: 5%;text-align: center">Complete</td>
                <td style="width: 5%;text-align: center"><i class="material-icons more">more_horiz</i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>